matplotlib

# langchain[all]
# pypdf
# streamlit

# # Vector DB
# chromadb

# stable diffusion
huggingface_hub
transformers
diffusers 
invisible_watermark 
accelerate 
safetensors
cycler
peft
kiwisolver
onnxruntime-openvino


# openai
# tabulate
# python-environ
# notebook
# kaggle
# yt_dlp
# ffmpeg
# tiktoken
# lark
# pydub  # Load text with Whisper from videos
# pytube  # Get videos from playlist video

# pydantic==1.10.8 # https://github.com/hwchase17/langchain/issues/7548
# python-dotenv